
.cat{
    width: 600px;
    height: 400px;
    background-image: url(../images/cat.jpeg);
    background-position: center; /*centering the image within container*/
    background-size: cover;  /*making image fully fit it's container*/
}
